@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

input[type="search"] {
  font-family: FontAwesome;
}
.navbar {
  /* background: #000000; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  .nav-link {
    color: #fff;
  }
  .home {
    margin-left: 44px;
  }
  .movie,
  .tvshow {
    margin-left: 27.5px;
  }
  home,
  movie,
  tvshow:hover {
    color: #8a3000;
  }
  .searchbox {
    margin-left: 1000px;
    margin-top: 5px;
    width: 307px;
    height: 40px;
  }
  .searchbtn {
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border: 1px solid #8b0000;
    background: #8b0000;
    color: #ffffff;
  }

  .searchbtn:hover {
    background-color: #8a3000;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
  }
}

body {
  background-color: #000000;
}

.banner {
  width: 1292px;
  height: 333px;
  border-radius: 20px;
  float: right;
  margin-right: 314px;
  margin-top: 75px;
}

.logo {
  width: 335px;
  height: 175px;
  margin-top: -450px;
}

.banner-desc {
  width: 291px;
  height: 39px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-weight: 400;
  margin-top: -150px;
  margin-left: 15px;
}

.ornamen {
  width: 7px;
  height: 35px;
  background: #8b0000;
  margin-top: 500px;
  margin-left: 275px;
}
.ornamen3 {
  width: 7px;
  height: 35px;
  background: #8b0000;
  margin-top: 40px;
  margin-left: 275px;
}
.ornamen4 {
  width: 7px;
  height: 35px;
  background: #8b0000;
  margin-top: 500px;
  margin-left: 275px;
}

.ornamen2 {
  width: 7px;
  height: 35px;
  background: #8b0000;
  margin-top: 60px;
  margin-left: 275px;
}

.judul {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-top: -39px;
  margin-left: 145px;
}

.flex-container {
  margin-left: 325px;
  border-radius: 20px;
}

.darkknight,
.spider,
.dungeon,
.johnwick {
  margin-left: 30px;
}

topgun {
  margin-top: 35px;
}

.judultop {
  font-family: Playfair Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-left: 275px;
  margin-top: -260px;
}

.synopsis {
  width: 750px;
  height: 60px;
  color: #ffffff;
  font-family: PT Sans;
  margin-left: 275px;
}

.desc {
  font-family: PT Sans;
  margin-left: 260px;
  margin-top: 45px;
}

.bold {
  font-weight: 700;
  font-style: bold;
}

footer {
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.card1:hover {
  transform: scale(1.1);
}
.card1 {
  transition: transform 0.2s;
}

.banner1 {
  border-radius: 20px;
  float: right;
  margin-right: 290px;
  margin-top: 75px;
}

.list-film2{
  margin-top: 45px;
  margin-left: 295px;
}